* {
  font-family: Avenir;
}

body {
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(9, 9, 121, 0.10968137254901966) 83%
  );
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  width: 100%;
}

h3 {
  color: darkgray;
}

.selected-word {
  color: blue;
}

button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: Avenir;
  background-color: white;
  border-radius: 4px;

  &:hover {
    color: white;
    background-color: black;
    cursor: pointer;
  }
}

a {
  color: black;
  padding: 1rem;
  border-radius: 2px;

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
